body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#dcdcdc;
}

.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#369bcf;
  border:0;
  margin-left:5px;
  color:#ffffff;
  width:91%;
}

.dark{
  padding:15px;
  border: #cccccc solid 1px;
  background:#e6e6e6;
  color:#000000;
  margin-top:10px;
  margin-bottom:10px;
}

header{
  background:#404040;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#369bcf 3px solsid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#369bcf;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

.padding2{
  padding:5px;
}

.padding{
  padding:20px;
}

#case {
  min-height:400px;
  padding:20px;
  text-align:right;
  color:#000000;
}

#case h1{
  margin-top:30px;
  margin-bottom:10px;
  font-size:35px;
}

#case p{
  font-size:20px;
  padding-left:750px;
}

#form{
  padding:15px;
  color:#ffffff;
  background:#404040
}

#form h1{
  float:left;
}

#form form {
  float:right;
  margin-top:15px;
}

#form input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

p#footerp{
  line-height:7px;
}

aside#sidebar{
  float:right;
  width:30%;
  margin-top:50px;
  margin-bottom:20px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

article#main-col{
  margin-top:55px;
  padding:5px;
  float:left;
  width:65%;
  height:100px;
}

ul#services li{
  list-style:none;
  padding:10px;
  border: #cccccc solid 1px;
  margin-bottom:20px;
  background:#e6e6e6;
  height:75.6px;
}

footer{
  position:bottom;
  bottom:0;
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
  margin-top:20px;
  line-height:10px;
  color:#ffffff;
  background-color:#369bcf;
  text-align: center;
}

hr{
  border-color:#404040;
  background-color:#404040;
}

a.dl{
  display:block;
  font-size:1.17em;
  margin-top:1em;
  margin-bottom:1em;
  margin-left:10px;
  margin-right:0;
  font-weight:bold;
}

img{
  max-width:100%;
  width:auto/9;
  height:auto;
}

@media(max-width: 768px){
  #highlight,
  header #branding,
  header nav,
  header nav li,
  #form h1,
  #form form,
  #boxes .box,
  article#main-col,
  #case,
  #case h1,
  #case p{
    padding:0;
    float:center;
    text-align:center;
    width:100%;
  }

  aside#sidebar{
    padding:0;
    float:center;
    width:100%;
    margin-top:250px;
  }

  article#main-col{
    margin-top:15px;
    position:relative;
  }

  aside#sidebar{
    position:relative;
  }

  #padding{
      padding:5px;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }

  #footerp{
    padding-left:5px;
    padding-right:5px;
    line-height:15px;
  }

}

@media(max-width: 1500px){
  #case p{
    padding-left:0px;
    font-size:20px;
  }

  #case {
    min-height:400px;
    text-align:center;
    color:#000000;
  }

  #case h1{
    margin-top:30px;
    margin-bottom:10px;
    font-size:35px;
  }
}
